a {
  text-decoration: none;
  color: inherit;
  transition: color 0.4s ease;
}
.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  transition: color 0.4s ease, border-color 0.4s ease,
    background-color 0.5s ease;
  mix-blend-mode: difference; // smooth blending Netflix/Apple style

  .logo {
    font-size: 2.5rem;
    font-weight: 800;
  }

  .ops {
    font-size: 0.9rem;
    opacity: 0.9;
    display: flex;
    font-family: "Arimo", sans-serif;
    align-items: center;
    gap: 1.5rem;
    letter-spacing: 0.3rem;

    .dot {
      font-weight: 800;
    }
  }

  .rights {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    i {
      border: 2px solid;
      border-radius: 50%;
      padding: 0.5rem;
      font-size: 1.3rem;
      transition: border-color 0.5s ease;
    }
  }
}
.lightMode {
  color: #fff;
  .rights i {
    border-color: #fff;
  }
}

.darkMode {
  color: #000;
  .rights i {
    border-color: #000;
  }
}
